ion-content {
    //--background: url(../../assets/background_full.jpg) no-repeat top center/cover fixed, #fff;
    position: relative;
    height: 100%;
    width: 100%;

}


.card {
    margin: 0 auto;

    .header {
        height: 200px; // 20vh;

        .avatar {
            width: 140px; //40vw
            height: 140px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(20px + 4px)); // -42px;
                //border: 8px solid #9Dc912;
                background-color: #fff;
            }
        }
    }
}

.card-body {

    .user-meta {
        padding-top: 0px;

        .playername {
            font-size: 20px;
            font-weight: 600;
            color: #303940;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}